[data-theme="paila"] {
    --background: oklch(1 0 0);
    --foreground: oklch(0.274 0.008 286.03);
    --card: oklch(0.9722 0.0034 247.86);
    --card-foreground: oklch(0.274 0.008 286.03);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.274 0.008 286.03);
    --primary: oklch(0.4128 0.0594 223.94);
    --primary-foreground: oklch(0.9728 0.0057 264.53);
    --secondary: oklch(0.5236 0.0505 250.18);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(93.186% 0.00412 285.942);
    --muted-foreground: oklch(0.442 0.0147 285.79);
    --accent: oklch(0.967 0.0027 286.38);
    --accent-foreground: oklch(0.274 0.008 286.03);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.0053 286.32);
    --input: oklch(0.871 0.008 286.29);
    --ring: oklch(0.815 0.0757 230.32);
    --chart-1: oklch(0.6231 0.188 259.81);
    --chart-2: oklch(0.6056 0.2189 292.72);
    --chart-3: oklch(0.7686 0.1647 70.08);
    --chart-4: oklch(0.7227 0.192 149.58);
    --chart-5: oklch(0.6368 0.2078 25.33);
    --sidebar: oklch(0.9722 0.0034 247.86);
    --sidebar-foreground: oklch(0.274 0.008 286.03);
    --sidebar-primary: oklch(0.815 0.0757 230.32);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(89.006% 0.01858 218.644);
    --sidebar-accent-foreground: oklch(0.4128 0.0594 223.94);
    --sidebar-border: oklch(0.92 0.0053 286.32);
    --sidebar-ring: oklch(0.815 0.0757 230.32);

    --font-sans:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --radius: 0.8rem;

    --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-sm:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow-md:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
    --shadow-lg:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
    --shadow-xl:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
    --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

[data-theme="paila"].dark {
    --background: oklch(17.583% 0.00385 229.254);
    --foreground: oklch(0.92 0.0053 286.32);
    --card: oklch(19.933% 0.0068 258.418);
    --card-foreground: oklch(0.92 0.0053 286.32);
    --popover: oklch(19.933% 0.0068 258.418);
    --popover-foreground: oklch(0.92 0.0053 286.32);
    --primary: oklch(0.4128 0.0594 223.94);
    --primary-foreground: oklch(98.511% 0.00011 271.152);
    --secondary: oklch(0.5236 0.0505 250.18);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(29.026% 0.0116 248.296);
    --muted-foreground: oklch(78.38% 0.00569 286.041);
    --accent: oklch(29.026% 0.0116 248.296);
    --accent-foreground: oklch(0.92 0.0053 286.32);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(29.026% 0.0116 248.296);
    --input: oklch(0.37 0.012 285.81);
    --ring: oklch(0.815 0.0757 230.32);
    --chart-1: oklch(0.6231 0.188 259.81);
    --chart-2: oklch(0.6056 0.2189 292.72);
    --chart-3: oklch(0.7686 0.1647 70.08);
    --chart-4: oklch(0.7227 0.192 149.58);
    --chart-5: oklch(0.6368 0.2078 25.33);
    --sidebar: oklch(19.933% 0.0068 258.418);
    --sidebar-foreground: oklch(0.92 0.0053 286.32);
    --sidebar-primary: oklch(0.815 0.0757 230.32);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(28.283% 0.02256 243.372);
    --sidebar-accent-foreground: oklch(0.92 0.0053 286.32);
    --sidebar-border: oklch(0.274 0.008 286.03);
    --sidebar-ring: oklch(0.815 0.0757 230.32);

    --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-sm:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow-md:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
    --shadow-lg:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
    --shadow-xl:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
    --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

[data-theme="paila"] {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}
